<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntiTimeOut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AntiTimeOut.Properties.Settings>
      <setting name="servicePollingTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="serviceErrorAction" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="isSystrayMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isNVSMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ootBeepSFXDir" serializeAs="String">
        <value>C:\Windows\Media\Windows Background.wav</value>
      </setting>
      <setting name="isRunOnceMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ootRenewSSID" serializeAs="String">
        <value />
      </setting>
      <setting name="ootRenewName" serializeAs="String">
        <value />
      </setting>
      <setting name="ootSelectedModeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="commandSelectedIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="commandDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="isSBSMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="serviceCommandOption" serializeAs="String">
        <value />
      </setting>
      <setting name="serviceCommandTimeout" serializeAs="String">
        <value />
      </setting>
      <setting name="loadedServiceDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ootRenewInterface" serializeAs="String">
        <value />
      </setting>
    </AntiTimeOut.Properties.Settings>
  </userSettings>
</configuration>
